.jumbotron {
  background-image: url("/img/establo.jpg");
  background-size: cover;
  color: white;
  margin-top: 50px;
  margin-bottom: 5px; }

.card-hotel {
  flex: 1 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel img {
  width: 100%;
  height: 130px; }

#ultimo-hotel {
  width: 100%;
  height: auto; }

.btn-reserva {
  width: 100%; }

.tab-content {
  padding-top: 10px;
  margin: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f8da45;
  margin-top: 10px;
  margin-bottom: 0px; }
