$yellow: #f8da45; 

@mixin margenes($top,$bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin imagenes($width, $height){
  width: $width;
  height: $height;
}

.jumbotron{
  background-image: url("/img/establo.jpg");
  background-size: cover;
  color: white;
  @include margenes(50px, 5px);
}

.card-hotel{
  flex: 1 200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  @include margenes(10px, 0px)
}

.card-hotel img{
  @include imagenes(100%, 130px);
}

#ultimo-hotel{
  @include imagenes(100%, auto);
}

.btn-reserva{
  width: 100%;
  
}

.tab-content{
  padding-top: 10px;
  margin: 20px;
}

footer{
  padding: 10px 10px 0 10px;
  background-color: $yellow;
  @include margenes(10px, 0px);
}

